client/CMakeFiles/*
server/CMakeFiles/*
common/CMakeFiles/*
test/CMakeFiles/*
build/*

.vscode

client/src/ClientMain
client/src/libKvpClient.so
kvp_default.dat
kvp_default.dat.lock
server/src/ServerMain
server/src/libKvpServer.so
server/src/libKvpStorage.so

common/src/libKvpMessage.so
test/run_ut_kvp_server
test/run_ut_kvp_storage
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
